:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow:hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  cursor:pointer;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  flex-direction: row-reverse;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  background-color:rgba(25,25,25,0.95);
  max-width: 1280px;
  margin: 1em 0 0 0;
  border-radius:0.6em 0 0 0.6em;
  padding: 2rem 3rem 2rem 2rem;
  z-index:4;
  height: 90vh;
  user-select: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

canvas {
  cursor:grab;
  position:absolute;
  left:0;
  top:0;
}

canvas:active {
  cursor:grabbing;
}

#dropdown {
  top:1.5em;
  left:1.5em;
  position:absolute;
  font-size: 1.2em;
  padding:0.5em;
  opacity:0.95;
}

#find-shortest-path-div {
  bottom:1.75em;
  left:1.5em;
  position:absolute;
  font-size: 1.2em;
  padding:0.5em;
  opacity:0.95;
  display:flex;
  user-select:none;
}

#notification {
  position:absolute;
  bottom:20%;
  left:40%;
  background-color:rgba(20,20,25,0.9);
  color: white;
  padding:1em;
  font-size: 1.25em;
  text-align:center;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
  transform:translate(-50%,-50%);
  opacity: 1;
  transition: opacity 2s ease-in-out 3s;
  user-select: none;
  cursor:grab;
  border-radius:0.1em;
}

#notification:active {
  cursor:grabbing;
}

#notification.fadeout {
  opacity: 0;
}

#personA {
  width:48%;
  padding:0.5em;
}

#personB {
  width:48%;
  padding:0.5em;
}

#shortest-path-answer-text{
  height:100%;
  padding-left:0.75em;
  font-size:0.75em;
  max-width: 62.5em;
  user-select:none;
  position:relative;
  max-height:5em;
  overflow-y: auto;
}